{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content home-hero {{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    <p class="home-hero-subtitle">Get enterprise-grade cybersecurity leadership without the enterprise budget.</p>
    <h1 class="home-hero-title">
        <i>Reduce</i> small business <i>burdens</i> to keep consumers safe
    </h1>

    <div>
        <a href="#" class="primary-button">
            Schedule a Call
        </a>
        <a href="#" class="secondary-button">
            Learn More
        </a>
    </div>

    <div class="home-hero-posts">
        {{#foreach posts limit=3}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
    </div>

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main">
    <section class="home-who-its-for">
        <div>
            <p>Founders, Teams, Enterprises, Individuals</p>
            <h2>
                Who it’s For
            </h2>
            <p>
                This service caters to customers that:
            </p>
            <ul>
                <li>Have a limited budget for full-time staff.</li>
                <li>Experience local or regional scarcity of cybersecurity professionals.</li>
                <li>Have a small digital footprint, with regulatory obligations.</li>
                <li>Are bound by regulatory mandates and need to prove compliance to external stakeholders.</li>
            </ul>
        </div>
        <div>
            <h3>Startups (Series A)</h3>
            <p>Limited budgets that need a security and privacy baseline to enable growth.</p>
            <h3>Scale-ups (Series B–C)</h3>
            <p>Expanding rapidly and requiring structured security and privacy programs.</p>
            <h3>Established SMBs</h3>
            <p>Regulatory obligations and limited or non-existent dedicated security staff.</p>
            <h3>Venture Capital / Private Equity firms</h3>
            <p>Requiring due-diligence and risk management support for portfolio companies.</p>
        </div>
    </section>
    <section class="home-feed-and-newsletter-signup">
        <div class="inner posts">
            <div class="blog__menu-wrapper">
                <div class="blog__menu">
                    <div class="blog__dropdown">
                        <p class="blog__dropdown-title">Topics
                            <svg xmlns="http://www.w3.org/2000/svg" class="blog__arrow-icon" width="11" height="6"
                                viewBox="0 0 11 6" fill="none">
                                <path
                                    d="M4.94527 5.78032C5.25209 6.07323 5.75036 6.07323 6.05718 5.78032L10.7699 1.2812C11.0767 0.988284 11.0767 0.512595 10.7699 0.219684C10.4631 -0.0732279 9.9648 -0.0732279 9.65798 0.219684L5.5 4.18922L1.34202 0.222027C1.0352 -0.0708848 0.53693 -0.0708848 0.230113 0.222027C-0.0767042 0.514938 -0.0767042 0.990627 0.230113 1.28354L4.94282 5.78266L4.94527 5.78032Z"
                                    fill="black" />
                            </svg>
                        </p>
                        <ul class="blog__tag-list">
                            {{#get "tags" limit="all" as |tags|}}
                            {{#foreach tags}}
                            <li class="blog__tag"><a href="{{url}}">{{name}}</a></li>
                            {{/foreach}}
                            {{/get}}
                        </ul>
                    </div>
                    <button class="gh-search" data-ghost-search>{{> "icons/search"}}</button>
                </div>
            </div>
            <div class="home-post-feed">
                {{#foreach posts limit=6}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
            {{pagination}}
        </div>
        <div class="home-feed-and-newsletter__sign-up">
            <p>Real-world threats, no jargon</p>
            <h2>Insights to Keep Your Business Secure</h2>
            <ul>
                <li>Practical playbooks to improve your security posture.</li>
                <li>Expert analysis of the latest cyber threats and breaches.</li>
                <li>Guidance tailored for CISOs, IT leaders, and growing businesses.</li>
            </ul>
        </div>
    </section>
    <section class="how-it-works">
        <h2>How it Works</h2>
        <div class="how-it-works-buckets">
            <div class="how-it-works-bucket-item">
                <h3>1</h3>
                <p>Prioritize your biggest risks</p>
                <p>Identify your top 5–10 business‑critical risks so you focus effort where it matters most.</p>
            </div>
            <div class="how-it-works-bucket-item">
                <h3>2</h3>
                <p>Design safeguards that fit your business</p>
                <p>Recommend practical protections that strengthen security without slowing the way you work.</p>
            </div>
            <div class="how-it-works-bucket-item">
                <h3>3</h3>
                <p>Maintain visibility and momentum</p>
                <p>Regularly review your risk landscape and adjust your strategies to stay ahead of emerging threats.</p>
            </div>
        </div>
    </section>
    <section class="home-solutions-for-security-challenges">
        <div>
            <h2>
                Solutions for <i>Real Security</i> Challenges
            </h2>
            <p>
                Solutions That Scale With You
            </p>
            <a href="#">
                Check Out our Solutions
            </a>
        </div>
        <div>
            <h3>
                1. Security Debt Reduction Sprint
            </h3>
            <h4>Problem</h4>
            <p>"The Debt Clock is Ticking" – every day without strategic security leadership, your company accumulates security debt
            that compounds over time, becoming more expensive to resolve.</p>
            <h4>Risk</h4>
            <p>94% of SMBs faced at least one cyberattack in 2024, indicating a high level of vulnerability among these businesses
            NinjaOne.</p>
        </div>
    </section>
    <section class="home-testimonial">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
        <p>Sarah Chen</p>
        <p>CTO, HealthTech Innovations</p>
    </section>
</main>
